* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

input {
  margin-left: 2rem;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

li {
  width: 25rem;
  list-style: none;
}
